<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131954522790-uksgo1p8agq81qrg9mrbnevk8f6nubqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131954522790-uksgo1p8agq81qrg9mrbnevk8f6nubqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDUeRcWj5VeNKT9TyTkD6SSNX2XKN7Jbv0</string>
	<key>GCM_SENDER_ID</key>
	<string>131954522790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kurumoAppPractice.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>kurumoapppractice</string>
	<key>STORAGE_BUCKET</key>
	<string>kurumoapppractice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131954522790:ios:e7fae8ffc1efc19751d267</string>
</dict>
</plist>